@import "tailwindcss";

:root {
  --color-primary: #f78503;
  --color-primary-dark: #d66f00;
  --color-primary-light: #ff9b26;
  --color-secondary: #e5832e;
  --color-secondary-dark: #c46b19;
  --color-secondary-light: #ff9e47;
}

body {
  background-color: #0c0a09;
  color: #f5f5f4;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

::selection {
  background-color: #f78503;
  color: #ffffff;
}
